@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Castoro+Titling&display=swap');


* {
    margin: 0px;
    padding: 0;
    border: none;
}

body {
    font-family: 'Castoro', serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #006AA7;
}


.top-text {
    font-size: 35px;
    letter-spacing: 18px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 40px 30px;
}

/* Start Interface */

.start-area {
    background-color: #FFCD00;
    height: 500px;
    max-width: 1000px;
    margin: 0 auto;
    border: 3px #1E1E1E;
    box-shadow: 0 0 20px #1E1E1E;
    margin-bottom: 100px;
}

.section-header {
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 120px;
}


.section-text {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    padding: 8px 60px 36px;
}

.section-text p {
    padding-top: 50px;
}

.play-btn {
    padding-top: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    width: 110px;
    height: 50px;
    color: #1E1E1E;
    border-radius: 30px;
    border: 2px solid #1E1E1E;
    box-shadow: 0 0 2px #1E1E1E;
    padding: 21px;

}

.play-btn button:hover {
    background-color: #F9DD3C;
    cursor: pointer;
    color: #006AA7;
}

/*game-interface*/

#game-area {
    font-family: 'Castoro', serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 85vh;
    align-items: center;
    background-color: #006AA7;
    justify-content: space-around;
    align-content: space-between;
}

#top-game-section {
    max-height: 500px;
}

#top-game-section:hover{
  text-decoration: solid;
}

#quiz-area {
    flex-direction: column;
    margin: 45px;
    max-height: 560px;
}

.top-bar {
    font-size: 150%;
    text-align: center;
    background-color: #F9DD3C;
    box-shadow: 0 0 5px #1E1E1E;
}

#toptext {
    padding: 51px;
}

.container {

    height: 214px;
    max-width: 1000px;
    margin-bottom: 90px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 60px 0;
}


#question {
    font-size: 40px;
}

.section-question {
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 26px;
    margin: 25px 208px;
}

.btn:hover {
    color: #006AA7;
}

.btn.correct {
    background-color: green;
}

.btn.wrong {
    color: red;
}

.btn {
    font-size: 27px;
    font-family: 'Castoro', serif;
    padding: 4px 89px;
    background-color: #FFCD00;
    color: #1E1E1E;
    border-radius: 14px;
    border: 2px solid #1E1E1E;
}

.hide {
    display: none;
}

.controls {
    margin-top: 20px; 
}

#final-score {
    margin-top: 20px; 
    font-size: 25px;
}


/*Media Queries*/
@media screen and (min-width:1444px) {

  #quiz-area{
      top:-56px;
      position:relative;
  }

  .top-bar{
      font-size: 100%;
  }

  .top-text{
      margin:45px 19px 30px;
  }

  #game-area{
      height:100vh;
  }

  #question{
      font-size:27px;
  }

  .btn{
      font-size:15px;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1443px) {

  #quiz-area {
          top: -56px;
          position: relative;
      }
  
      .top-bar {
          font-size: 100%;
      }
  
      .top-text {
          margin: 45px 19px 30px;
      }
  
      #game-area {
          height: 88vh;
      }
  
      #question {
          font-size: 27px;
      }
  
      .btn {
          font-size: 18px;
      }

}

@media screen and (min-width: 992px) and (max-width: 1249px) {


.top-bar{
  font-size: 81%;
  top:50px;
  position:relative;
  }
#quiz-area {
      top: 156px;
      position: relative;
  }

#game-area{
    height:56vh;
}

.container{
  height:211px;
  font-size:18px;
}

#question {
   font-size: 25px;
}

.btn {
   font-size: 15px;
}



}

@media screen and (min-width: 768px) and (max-width: 991px) {

.top-text{
  font-size:18px;   
  letter-spacing: 10px;
}

.section-header{
  font-size:21px;
}

.section-text{
  font-size:20px;
}

#game-area{
  height:110vh;
}

.top-bar{
  font-size: 73%;
}
#toptext{
  padding:35px;
}
.container{
  height:372px;
  font-size:21px;
  max-width:724px;
}
#question{
  font-size:18px;
  text-align:center;
}

.btn{
  font-size:18px;
  padding: 0px 73px;
}

.btn-grid{
   margin: 33px 25px;
}
}

@media screen and (min-width: 481px) and (max-width: 767px) {


.top-text {
      font-size: 18px;
      letter-spacing: 10px;
          margin: 44px 9px 38px;
  }

  .section-header {
      font-size: 12px;
  }

  .section-text {
      font-size:15px;
  }

  #game-area {
      height: 120vh;
  }

  .top-bar{
      font-size:88%;
  }
  .container {
      height: 460px;
      font-size: 17px;
      max-width: 724px;
      padding: 0px 19px 0px;
  }
#toptext{
  padding:31px;
}
  #question {
      font-size: 18px;
      text-align: center;
  }

  .btn {
      font-size: 17px;
      padding: 0px 73px;
  }

  .btn-grid {
      margin: 33px 25px;
  }
}

@media screen and (max-width: 480px)and (min-width: 320px){

  .top-text {
      font-size: 10px;
      letter-spacing: 4px;
      margin: 34px 11px 38px;
  }

  .section-header {
      font-size: 10px;
  }

  .section-text {
      font-size:12px;
  }

  .play-btn>a {
       font-size: 10px;
       padding:14px;
  }
  #game-area {
      height: 900px;
  }

#toptext{
  padding:25px;
}

  .top-bar{
      font-size:59%;
  }

  #quiz-area{
  margin: 0px 83px 81px;
  }
#question-container{
  width: 316px;
  height:227px;
}
  .container {
      height: 460px;
      font-size: 12px;
      max-width: 724px;
      padding:6px 8px 0px;
  }

  #question {
      font-size: 20px;
      text-align: center;
  }

  .btn {
      text-align: justify;
      font-size: 13px;
      padding: 5px 5px;
      gap:9px;
  }

  .btn-grid {
      margin: 33px 7px;
  }
}